# Practice one
This a practice one of [Ing. Felipe Llaugel](https://do.linkedin.com/in/felipe-llaugel-b9238634)'s cource with Jupyter notebook

## Ejercicio 1
Utiliza la función print y imprime tu nombre y tu edad uno debajo del otro utilizando uno de los métodos de salto de línea.

In [1]:
name = "Ming Tsai"
age = 23
print(name, '\n', age)

Ming Tsai
 23

## Ejercicio 2: Que tipo de dato es:
- a) 3
- b)  True
- c)  17.8
- d)   “Hola”

In [2]:
a = type(3)
b = type(True)
c = type(17.8)
d = type("Hola")
print(a)
print(b)
print(c)
print(d)

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>

## Ejercicio 3: Cual es resultado de las siguientes comparaciones:
- `True AND False`
- `NOT False`
- `True OR True`

In [3]:
print(True and False)
print(not False)
print(True or True)

False
True
True

## Ejercicio 4: Identifica cual es una lista, una tupla o un diccionario.
- `y = {‘fruta’: ‘manzana’, ‘color’: ‘verde’, ‘tamaño’: ‘mediano’}`
- `z = [“Hola”, 29, 3.2, False]`
- `x = (3, True, 8.2, [3,2])`

In [4]:
y = {'fruta': 'manzana', 'color': 'verde', 'tamaño': 'mediano'}
z = ["Hola", 29, 3.2, False]
x = (3, True, 8.2, [3,2])
print(type(y))
print(type(z))
print(type(x))

<class 'dict'>
<class 'list'>
<class 'tuple'>

## Ejercicio 5: Indica cual es el código para cambiar el número 3.2 en 
`z = [“Hola”, 29, 3.2, False]` por 5.2.

In [5]:
z = ["Hola", 29, 3.2, False]
z[z.index(3.2)] = 5.2
print(z)

['Hola', 29, 5.2, False]

## Ejercicio 6: Escribe una línea de código utilizando la función `zip()` para crear un diccionario.

In [6]:
dictz = dict(zip('qwerty', [1,2,3,4,5]))
print(dictz)

{'q': 1, 'w': 2, 'e': 3, 'r': 4, 't': 5}

## Ejercicio 7: Evalúa cual es el resultado de las siguientes expresiones.
- `True == False`
- `13 > 2`
- `"Casa" != 'Caza'`
- `34 <= 58.3`

In [7]:
print(True == False)
print(13 > 2)
print("Casa" != 'Caza')
print(34 <= 58.3)

False
True
True
True

## Ejercicio 8: Escribe una sentencia `for` que itere sobre la palabra "curso" e imprima cada letra por separado.

In [8]:
for char in "Curso":
    print(char);

C
u
r
s
o

## Ejercicio 9: Escribe una sentencia while que mientras el número iterado sea menor que `(<) 10` imprima cada número.

In [9]:
number = 0
while number < 10:
    print(number)
    number = number + 1

0
1
2
3
4
5
6
7
8
9

## Ejercicio 10: Escribe una función que multiplique dos números.

In [10]:
def multiply(a, b):
    return a * b

f = multiply(3, 4)
print(f)

12